body{
    background-image: url(./images/bg-image.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signup{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 420px;
    height: 360px;
    margin-left: 700px;
    margin-top: -320px;
    box-shadow: 0px 10px 12px rgb(36, 35, 36);
}

#offerbtn{
    background-color: rgb(92, 57, 219);
    padding: 15px;
    border: 1px solid rgb(92, 57, 219);
    border-radius: 10px;
    color: white;
    margin-top: -390px;
    margin-left: 590px;
    width: 450px;
    box-shadow: 0px 10px 12px rgb(36, 35, 36);
    font-weight: bold;
}
#offerbtn:hover{
    background-color: rgb(64, 36, 167);
    border:rgb(64, 36, 167);
    cursor: pointer;
}

#fname, #lname, #email, #pass, #submitbtn{
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 10px;
    padding-left: 10px;
}
#submitbtn{
    background-color: rgb(205, 70, 218);
    color: white;
    border: 1px solid rgb(205, 70, 218);
    font-weight: bold;
}
#submitbtn:hover{
    background-color: rgb(154, 52, 163);
    border: rgb(154, 52, 163);
    cursor: pointer;
}

#desc{
    color: white;
    text-align: left;
    margin-top: 150px;
    margin-left: 50px;
    font-family: url(https://fonts.google.com/specimen/Poppins);
}

#term{
    font-size: 10px;
    color: rgb(154, 150, 150);
    text-align: center;
}

.error::placeholder{
    color: red;
}